create table #t (
	store_id int not null
	, esri_x decimal(28,25) not null
	, esri_y decimal(28,25) not null
	, google_x decimal(28,25) not null
	, google_y decimal(28,25) not null
	, diff decimal(28,25) not null
	, google_formatted_address varchar(max) null
);

insert into #t (store_id, esri_x, esri_y, google_x, google_y, diff, google_formatted_address) values (122138,0,0,-90.1420331,31.1160119,121.258045,'Tylertown, MS 39667, USA')
insert into #t (store_id, esri_x, esri_y, google_x, google_y, diff, google_formatted_address) values (122166,0,0,-81.0709275,35.1157907,116.1867182,'4084 Charlotte Hwy, Lake Wylie, SC 29710, USA')
insert into #t (store_id, esri_x, esri_y, google_x, google_y, diff, google_formatted_address) values (109010,-86.1623683572191,39.6194276877841,-104.8856133,39.5578109,18.784861730565,'Parkhill Rd, Lenexa, KS 66215, USA')

select *
into stores_01milediff_matches
from #t

select * from stores_01milediff_matches